

<a href="/users/logout">Logout</a>
<h1>
    <%= user.name  %>
   
</h1>
<h1>
    <%= user.email %>  
</h1>

<form action="/users/update/<%= user.id  %>" method="POST">
    <%- include ('_flash_messages') %> 
    <input type="text" name ="name" placeholder="Your Name" value="<%= user.name %>" >
    <input type="text" name ="email" placeholder="Your email" value="<%= user.email %>" >
     <input type="submit" value = "update">

</form>

<a href="/users/reset-password/<%= user.id %> "> Update Password</a>